* {
    box-sizing: border-box;
    margin: 0;
}
body{
    direction: ltr;
}

.menu {
    width: 100%;
    text-align: left;
    padding: 5px 20px;
    background-color: white;
    text-decoration: none;
    
}

.menu a {
text-decoration: none;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu a:hover{
    color: rgb(206, 0, 69);
}

ul{
    margin: 0 10px;
    display: inline;
}

li{
    display: inline;
    margin: 0 10px;
}

.hamlet {
position: absolute;
}